<li>
  <LinkTo @route="recipes.recipe" local-class="link" @model={{@recipe.id}}>
    <figure local-class="image">
      <img src={{@recipe.imageUrl}} alt={{@recipe.title}}>
    </figure>
    <div local-class="data">
      <h4 local-class="name">{{limit-recipe-title @recipe.title}}</h4>
      <p local-class="author">{{@recipe.publisher}}</p>
    </div>
  </LinkTo>
</li>