<li class="qa-recipe-inline">
  <LinkTo @route="recipes.recipe" class="qa-recipe-inline-link" local-class="link" @model={{@recipe.id}}>
    <figure local-class="image">
      <img
        class="qa-recipe-inline-image"
        src={{@recipe.imageUrl}}
        alt={{@recipe.title}}
      >
    </figure>
    <div>
      <h4 class="qa-recipe-inline-title" local-class="name">{{reduce-title @recipe.title}}</h4>
      <p class="qa-recipe-inline-publisher" local-class="author">{{@recipe.publisher}}</p>
    </div>
  </LinkTo>
</li>